[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FracKrigingR"]
	path = FracKrigingR
	url = https://github.com/nidagreen/frackriging
